{{ text.p('Hidden at this size', {class: 'hidden x-u-show'}) }}
<div class="hidden g-o-show">
	<div class="row">
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
	</div>
	<div class="row">
		<div class="col span-g-o-3-12 push-6-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-12 push-2-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
	</div>
	<div class="row">
		<div class="col span-g-o-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-g-o-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
	</div>
</div>