{{ text.p('Hidden at this size', {class: 'hidden l-o-show m-u-show'}) }}
<div class="hidden l-u-show m-u-hidden">
	<div class="row">
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
	</div>
	<div class="row">
		<div class="col span-l-u-3-12 push-6-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-12 push-2-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
	</div>
	<div class="row">
		<div class="col span-l-u-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-l-u-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
	</div>
</div>