{{ text.p('Hidden at this size', {class: 'hidden s-o-show'}) }}
<div class="hidden s-u-show">	
	<div class="row hidden s-u-show">
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
	</div>
	<div class="row">
		<div class="col span-s-u-3-12 push-6-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-12 push-2-12">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
	</div>
	<div class="row">
		<div class="col span-s-u-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
		<div class="col span-s-u-1-5">
			{{ image.figure(
				image.img('http://lorempixel.com/640/480/')
			) }}
		</div>
	</div>
</div>